<h1>customize users</h1>

<div>
   <label for="firstname">First Name</label><br/>
   <input type="text" name="first_name" ng-model="uc.newUser.first_name"></div>
   <label for="lastname">Last Name</label><br/>
   <input type="text" name="last_name" ng-model="uc.newUser.last_name"></div><br/>
   <button type="submit" ng-click='uc.create()'>Add User</button>
</div>

<div>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Favorite</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="user in uc.users">
         <td>{{user.first_name}}</td>
         <td>{{user.last_name}}</td>
         <td>{{user.favorite}}</td>
         <td ng-click="uc.destroy($index)">Delete User</td>
       </tr>
    </tbody>
   </table>
</div>
